/*nav styling */
nav {
    width: 100%;
    }
.nav a {
   font-size: 1.5em;
 }
.nav li {
   padding-right: 30px;
}

.navbar-brand {
  font-size: 1.5em;
}

.nav-input {
  margin-top: 10px
}

/*image styling */
img {
  width: 100%;
  height: 100%;
}

/*Fix fixed nav sitting on top of page content*/
body { padding-top: 70px; }

/*form styling for error handling*/

.invalid:focus {
  border-color: rgba(255,0,0,.8);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,88,20,.6);
  .box-shadow(@shadow);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}
.invalid {
  border-color: rgba(255,0,0,.8);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,88,20,.6);
  .box-shadow(@shadow);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}

.valid:focus {
  border-color: rgba(0,255,0,.8);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,255,0,.6);
  .box-shadow(@shadow);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}

.valid{
  border-color: rgba(0,255,0,.8);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,255,0,.6);
  .box-shadow(@shadow);
  outline: 0;
}

.error {
  color: red;

}

.good {
  color: green;
}

/*Hover color change*/

.glyphicon.glyphicon-arrow-up:hover
{
  color:green;
}

.glyphicon.glyphicon-arrow-down:hover
{
  color:red;
}

.clickable {
  color: rgba(61, 183, 218, 1)
}

.clickable:hover {
  color: rgba(101, 223, 255, 1)
}


/*Animations for posts*/

.jumbotron.ng-enter {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0;
}

.jumbotron.ng-enter-active {
  opacity: 1;
}

.jumbotron.ng-leave {
  -webkit-transition: 2s;
  transition: 2s;

  opacity: 1;
}

.jumbotron.ng-leave-active {
  opacity: 0;
}

/*Order by animations*/

.jumbo-parent {
  /* Needed, otherwise items would be at top of the page (see below) */
  position: absolute;
  /* full width, or it would look strange */
  width: 100%;
}
.jumbo-parent.jumbotron {
  position: absolute;
  /* Top: 0; this will be changed for every single list item by AngularJS */
  top: 0;
  /* Item height; hold this in sync with template file */
  /*  Simple transition */
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
